<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
    <meta charset="UTF-8">
    <title>Strona startowa</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" th:href="@{/css/main.css}" />
    <link rel="stylesheet" th:href="@{/css/account/account-style.css}" />
</head>

<body class="d-flex flex-column h-100">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" th:href="@{/loginHome}">Aplikacja treningowa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li th:class="${activePage == 'registration'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/rejestracja}">Ćwiczenia</a>
            </li>
            <li class="dropdown ${activePage == 'login'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link dropbtn" th:href="@{/treningi}">Treningi</a>
            </li>
            <li class="dropdown ${activePage == 'login'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/ankiety}">Ankiety treningowe</a>

            </li>
            <li th:class="${activePage == 'registration'} ? 'nav-item active' : 'nav-item'">
                <a id="userSettings" class="nav-link" th:href="@{/rejestracja}">Ustawienia konta</a>
            </li>
            <a th:href="@{/konto}">
                <i id="userIcon" class="fas fa-user-alt" style="font-size:30px"></i>
            </a>

        </ul>
    </div>
</nav>


<div class="cos">
    <div class="container">
        <form class="form"  th:object="${raportInfo}" >
            <h4 class="mb-3">Raport z treningu</h4>

            <div class="row g-3 rowtop">
                <div class="col-sm-2">
                    <h5 class="info-label">Nzwa Treningu: </h5>
                </div>
                <div class="col-sm-10">
                    <h5 class="info-label" th:text="${raportInfo.trainingName}"></h5>
                </div>
            </div>
            <div class="row g-3 rowtop">
                <div class="col-sm-2">
                    <h5 class="info-label">Data treningu: </h5>
                </div>
                <div class="col-sm-10">
                    <h5 class="info-label" th:text="${#temporals.formatISO(raportInfo.dateFrom)}"></h5>
                </div>
            </div>
            <div class="row g-3 rowtop">
                <div class="col-sm-4">
                    <h6 class="info-label">Ilość wykonanych ćwiczeń: </h6>
                </div>
                <div class="col-sm-8">
                    <h6 class="info-label" th:text="${raportInfo.exerciseCount}"></h6>
                </div>
            </div>
            <div class="row g-3 rowtop">
                <div class="col-sm-4">
                    <h6 class="info-label">Suma spalonych kalorii: </h6>
                </div>
                <div class="col-sm-8">
                    <h6 class="info-label" th:text="${raportInfo.caloriesSum}"></h6>
                </div>
            </div>
            <div class="row g-3 rowtop">
                <div class="col-sm-4">
                    <h6 class="info-label">Suma ciężaru w trenignu: </h6>
                </div>
                <div class="col-sm-8">
                    <h6 class="info-label" th:text="${raportInfo.weightSum}"></h6>
                </div>
            </div>
            <div class="row g-3 rowtop">
                <div class="col-sm-4">
                    <h6 class="info-label">Czas treningu: </h6>
                </div>
                <div class="col-sm-8">
                    <h6 class="info-label" th:text="${raportInfo.trainingTime}"></h6>
                </div>
            </div>

        </form>
    </div>
</div>





<footer class="footer mt-auto py-3" th:fragment="footer">
    <div class="container-fluid">
            <span class="text-muted">
                <script>
                    document.write(new Date(Date.UTC(2021, 3, 20)).toLocaleDateString())
                </script> - Adam Majbour-Majek, Bartłomiej Rzepka, Dominik Motyka
            </span>
    </div>
</footer>

<script type="text/javascript" th:src="@{/js/account/account-validation.js}">
</script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js " integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo " crossorigin="anonymous ">
</script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js " integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1 " crossorigin="anonymous ">
</script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js " integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM " crossorigin="anonymous ">
</script>


<script src="https://kit.fontawesome.com/cfe1d61e0f.js " crossorigin="anonymous "></script>

</body>

</html>
