<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Stopka</title>
</head>

<body>
    <footer class="footer mt-auto py-3" th:fragment="footer">
        <div class="container-fluid">
            <span class="text-muted">
                <script>
                    document.write(new Date(Date.UTC(2021, 3, 20)).toLocaleDateString())
                </script> - Adam Majbour-Majek, Bartłomiej Rzepka, Dominik Motyka
            </span>
        </div>
    </footer>
</body>

</html>
