<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org" class="h-100">

<head>
    <title>Bootstrap Example</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" th:href="@{css/training/style.css}">
    <link rel="stylesheet" th:href="@{/css/main.css}" />


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</head>

<body class="d-flex flex-column h-100">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark" th:fragment="navigation">
    <a class="navbar-brand" th:href="@{/loginHome}">Aplikacja treningowa</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li th:class="${activePage == 'registration'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/rejestracja}">Ćwiczenia</a>
            </li>
            <li class="dropdown ${activePage == 'login'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link dropbtn" th:href="@{/treningi}">Treningi</a>
            </li>
            <li class="dropdown ${activePage == 'login'} ? 'nav-item active' : 'nav-item'">
                <a class="nav-link" th:href="@{/ankiety}">Ankiety treningowe</a>
            </li>
            <li th:class="${activePage == 'registration'} ? 'nav-item active' : 'nav-item'">
                <a id="userSettings" class="nav-link" th:href="@{/rejestracja}">Ustawienia konta</a>
            </li>
            <a th:href="@{/konto}">
                <i id="userIcon" class="fas fa-user-alt" style="font-size:30px"></i>
            </a>
        </ul>
    </div>
</nav>


<div class="container">
    <form class="form" th:action="'/ankiety/ankieta='+${trainingId}+'/cwiczenie='+${exerciseInfo.id}" th:object="${parameters}" method="post">
        <div class="form-group">
            <label for="exerciseName">Nazwa ćwiczenia</label>
            <input class="form-control" id="exerciseName" placeholder="Wpisz nazwę ćwiczenia" required autocomplete="off"
                   th:field="${exerciseInfo.name}"
                   type="text"/>
        </div>
        <div class="form-group">
            <label for="exerciseDescriprion">Opis ćwiczenia</label>
            <input class="form-control" id="exerciseDescriprion" placeholder="Wpisz opis ćwiczenia" required  autocomplete="off"
                   th:field="${exerciseInfo.name}"
                   type="text"/>
        </div>
        <div id="accordion">

            <th:block th:each="series, iter : ${exerciseInfo.seriesInfos}">
                <div class="card">
                    <div class="card-header">
                        <a class="collapsed card-link" data-toggle="collapse" th:href="'#collapse'+${series.hashCode()}" th:text="'Seria '+${iter.count}">
                        </a>
                        <a class="btn btn-danger modify-button" th:href="'/ankiety/usuwanie/ankieta='+${trainingId}+'/cwiczenie=' + ${exerciseInfo.id} +'/seria='+ ${series.id}">Usuń</a>
                    </div>
                    <div th:id="'collapse'+${series.hashCode()}" class="collapse" data-parent="#accordion">
                        <div class="card-body" >
                            <tr th:each="seriesParameter : ${series.parameterInfoList}">
                                <td  th:text="${seriesParameter.name}"></td>
                                <td  th:text="${seriesParameter.count}"></td>
                            </tr>
                        </div>
                    </div>
                </div>
            </th:block>
            <div class="card">
                <div class="card-header">
                    <a class="collapsed card-link" data-toggle="collapse" th:href="'#collapse'">
                        +
                    </a>
                </div>
                <div th:id="'collapse'" class="collapse" data-parent="#accordion">
                    <div class="card-body">
                        <div id="Powtórzenia" class="parameters-list" hidden>
                            <a>Powtórzenia: <input type="number" th:field="${parameters.repsCount}"></a>
                        </div>
                        <div id="Obciążenie" class="parameters-list" hidden>
                            <a>Ciężar: <input type="number" th:field="${parameters.weightCount}"> kg</a>
                        </div>
                        <div id="Czas" class="parameters-list" hidden>
                            <a>Czas: <input type="number" th:field="${parameters.timeCount}"> min</a>
                        </div>
                        <div id="Dystans" class="parameters-list" hidden>
                            <a>Dystans: <input type="number" th:field="${parameters.distanceCount}"> km</a>
                        </div>
                        <div id="Kalorie spalane" class="parameters-list" hidden>
                            <a>Kalorie: <input type="number" th:field="${parameters.caloriesCount}"> kcal</a>
                        </div>
                        <div class="form-group">
                            <label for="add"></label>
                            <input class="form-control btn-succes " id="add" type="submit" value="Dodaj Serię" name="action"/>
                        </div>

                    </div>
                </div>
            </div>
        </div>

    </form>

</div>

<footer class="footer mt-auto py-3" th:fragment="footer">
    <div class="container-fluid">
            <span class="text-muted">
                <script>
                    document.write(new Date(Date.UTC(2021, 3, 20)).toLocaleDateString())
                </script> - Adam Majbour-Majek, Bartłomiej Rzepka, Dominik Motyka
            </span>
    </div>
</footer>


<script type="text/javascript" th:inline="javascript">

    var theList = [[${seriesData}]]
    for (i = 0; i < theList.length; i++) {
        console.log(theList[i]);
        document.getElementById(theList[i].name).hidden=false;
    }

</script>
</body>


</html>
